.card {
    width: 350px;
}
.card h2 {
    margin-bottom: 0;
    font-size: 28px;
    text-align: center;
    color: white;
    background-color: #082128;
}
.card-image {
    display: flex;
    justify-content: center;
    
}
.card-image img{
    width: 200px;
    height: auto;
}
.bar {
    display: flex;
    justify-content: space-evenly;
    font-size: 20px;
    gap: 8px;
    color: white;
    background-color: #164656;
    align-items: center;
    height: 40px;
    
}
.bar p:hover {
    cursor: pointer;
    text-decoration: underline;
    text-decoration-color: chocolate;
    text-decoration-thickness: 2px;
    
}
.card-under-bar{
    background-color: #0d3340;
    color: white;
    padding: 0 16px;
}
.card-under-bar div{
    display: flex;
    
}
.card-type{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 0;
    background-color: #082128;
}
.card-type img{
    width: 36px;
    margin-right: 8px;
}

.stats{
    display: flex;
    flex-direction: column;
    padding-bottom: 8px;
}
.stats div {
    display: flex;
    align-items: center;
    
}

.progress {
  width: 200px;
  background-color: #eee;
  height: 10px;
  border-radius: 5px;
  overflow: hidden;
  margin-top: 5px;
  margin-left: auto;
}
.p-bar {
  height: 100%;
  background-color: chocolate;
  width: 0%; /* Wird inline über style-Attribut gesetzt */
  transition: width 0.5s ease-in-out;
}

.main-p1{
    width: 175px;
}