.bg_bug {
    background-color: #a69d29;
}
.bg_electric {
    background-color: #e4bb26;
}
.bg_fairy {
    background-color: #e68de0;
}
.bg_fire {
    background-color: #de6844;
}
.bg_flying {
    background-color: #74abd2;
}
.bg_grass {
    background-color: #4a9740;
}
.bg_ground {
    background-color: #9c6f38;
}
.bg_normal {
    background-color: #7d8182;
}
.bg_poison {
    background-color: #9450d0;
}
.bg_water {
    background-color: #3398de;
}