/* .bg_bug {
    background-color: #a69d29;
    background-image: linear-gradient(to right, #a69d29, #d9d273);
} */
.bg_bug {
    background-color: #a69d29;
    background-image: linear-gradient(to right, #a69d29, #e4e1b3);
}
/* .bg_electric {
    background-color: #e4bb26;
    background-image: linear-gradient(to right, #e4bb26, #efd36e);
} */
.bg_electric {
    background-color: #e4bb26;
    background-image: linear-gradient(to right, #e4bb26, #e6dbb3);
}
/* .bg_fairy {
    background-color: #e68de0;
    background-image: linear-gradient(to right, #e68de0, #ecbfe9);
} */
.bg_fairy {
    background-color: #e68de0;
    background-image: linear-gradient(to right, #e68de0, #e7d6e6);
}
/* .bg_fire {
    background-color: #de6844;
    background-image: linear-gradient(to right, #de6844, #f3a188);
} */
.bg_fire {
    background-color: #de6844;
    background-image: linear-gradient(to right, #de6844, #ebc4b9);
}
/* .bg_flying {
    background-color: #74abd2;
    background-image: linear-gradient(to right, #74abd2, #8eb8d5);
} */
.bg_flying {
    background-color: #74abd2;
    background-image: linear-gradient(to right, #74abd2, #c2d9ea);
}
/* .bg_grass {
    background-color: #4a9740;
    background-image: linear-gradient(to right, #4a9740, #7eb776);
} */
.bg_grass {
    background-color: #4a9740;
    background-image: linear-gradient(to right, #4a9740, #cce0ca);
    
}
/* .bg_ground {
    background-color: #9c6f38;
    background-image: linear-gradient(to right, #9c6f38, #bb976b);
} */
.bg_ground {
    background-color: #9c6f38;
    background-image: linear-gradient(to right, #9c6f38, #ddc9b1);
}
/* .bg_normal {
    background-color: #7d8182;
    background-image: linear-gradient(to right, #7d8182, #a3b1b4);
} */
.bg_normal {
    background-color: #7d8182;
    background-image: linear-gradient(to right, #7d8182, #d2dcde);
}
/* .bg_poison {
    background-color: #9450d0;
    background-image: linear-gradient(to right, #9450d0, #c99af2);
} */
.bg_poison {
    background-color: #9450d0;
    background-image: linear-gradient(to right, #9450d0, #ddc7ef);
}
/* .bg_water {
    background-color: #3398de;
    background-image: linear-gradient(to right, #3398de, #7bbae7);
} */
.bg_water {
    background-color: #3398de;
    background-image: linear-gradient(to right, #3398de, #cce3f4);
}

.pixel-art {
    width: 100%;
    height: auto;
    image-rendering: auto;
}
.d-none {
    display: none;
}
.blurred {
    filter: blur(5px);
}
.spinner-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #04171e;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}
.spinner {
    width: 50px;
    height: 50px;
    border: 5px solid #ccc;
    border-top: 5px solid #3498db;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    margin: 100px auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


.underline {
    text-decoration: underline;
    text-decoration-color: chocolate;
    text-decoration-thickness: 2px;
}
.border {
    border: 3px groove hsla(45.5, 96%, 57%, 1);
    padding: 2px 4px;
}
.border-ring{
    border: 2px ridge hsla(45.5, 96%, 57%, 1);
    border-radius: 50px;
    padding: 4px;
}
.border-solid-ring{
    border: 2px solid hsla(45.5, 96%, 57%, 1);
    border-radius: 50px;
    padding: 4px;
}

.mg-b{
    margin-bottom: 4px;
}



